.hero {
  display: flex;
  flex-direction: column;

  position: relative;

  &_content {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 215px 0 443px 0;
    z-index: 1;

    &_image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &_buttons {
      display: flex;
      gap: 12px;

      &_button {
        font-size: 22px;
        padding: 22px 32px;
        text-align: center;
        border-radius: 100px;
        border: 2px solid #fff;
        background-color: black;
      }

      &_button1 {
        border: 2px solid transparent;

        background:
          linear-gradient(#000, #000) padding-box,
          linear-gradient(90deg, #ff3bff 0%, #ecbfbf 38.02%, #5c24ff 75.83%, #d94fd5 100%)
            border-box;
      }
    }

    &_subtitle {
      font-size: 80px;
      letter-spacing: 0.02em;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 6px;
    }

    &_description {
      font-weight: 400;
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 0.72px;
      max-width: 723px;
      text-align: center;
      margin-bottom: 32px;
    }

    &_title {
      background: linear-gradient(90deg, #ff3bff 0%, #ecbfbf 38.02%, #5c24ff 75.83%, #d94fd5 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 80px;
      letter-spacing: 0.02em;
      line-height: 1;
      font-weight: 500;
    }
  }
}
