.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 60px 100px;
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(107, 230, 117, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.nameWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: end;
}

.itemName {
  font-weight: 600;
  font-size: 20px;
  user-select: none;
  color: rgba(255, 240, 214, 0.774);
}

.description {
  font-size: 20px;
  user-select: none;
  display: inline;
  width: auto;
  padding: 0 10px;
  width: 400px;
}
