.deskWrap {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0px;
  transition: grid-template-rows 0.25s ease;
  align-items: center;
}

.deskOpen {
  display: grid;
  overflow: hidden;
  grid-template-rows: 100px;
  transition: grid-template-rows 0.25s ease;
}
