.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 40px 0;
}

.container {
  padding: 100px 50px;
}

.text {
  line-height: 1.8;
}

.cols {
  display: flex;
  gap: 180px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.rightCol {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.rightCol::after {
  height: 100%;
  content: '';
  width: 1px;
  background-color: #a8fd4773;
  position: absolute;
  top: 0;
  left: -90px;
}

.rightTitle {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0;
}

.green {
  background-color: #a8fd47c0;
  color: #000;
  padding: 0 5px;
}

.eds {
  display: flex;
  flex-direction: column;
}

.ed {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0 0 0;
}

.edDate {
  font-size: 14px;
  color: rgba(240, 248, 255, 0.568);
}

.edInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edTitle {
  font-size: 20px;
  font-weight: bold;
}

.tag {
  font-size: 15px;
  color: #b9cc8ccb;
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0 0 0;
}

.contactLinks {
  display: flex;
  gap: 30px;
  margin: auto 0 0 0;
  color: #feffe5;
}

.contactsTitle {
  font-size: 20px;
  color: antiquewhite;
}
